<div class="blog-card">
  <div class="blog-card-header">
    {{user_name}}
    {{title}}
    {{post_date}}
  </div>
  <div class="card-body">
    <p>
      Post:
      {{post}}
    </p>
  </div>
  {{#if blog.comments}}
    <p>Comments:</p>
    {{#each blog.comments}}<p>
        {{comment_text}}
      </p>
    {{/each}}
  {{/if}}
</div>